from google.colab import drive
drive.mount('/content/drive')

In [117]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical

In [118]:
Dataset_path = "./DataSets/"
Movies_metadata = pd.read_csv(Dataset_path+"MoviesInfo.csv")
ratings = pd.read_csv(Dataset_path+"ml-latest/ratings.csv")

In [119]:
Movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41896 entries, 0 to 41895
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movieId                41896 non-null  int64
 1   genres                 41896 non-null  object
 2   imdb_title_id          41896 non-null  object
 3   title                  41896 non-null  object
 4   original_title         41896 non-null  object
 5   year                   41896 non-null  int64
 6   date_published         41896 non-null  object
 7   genre                  41896 non-null  object
 8   duration               41896 non-null  int64
 9   country                41890 non-null  object
 10  language               41648 non-null  object
 11  director               41886 non-null  object
 12  writer                 41621 non-null  object
 13  production_company     40944 non-null  object
 14  actors                 41877 non-null  object
 15  description            41589 non-null  object
 16  avg_vote               41896 non-null  float64
 17  votes                  41896 non-null  int64
 18  budget                 15453 non-null  object
 19  usa_gross_income       13291 non-null  object
 20  worlwide_gross_income  19887 non-null  object
 21  metascore              11596 non-null  float64
 22  reviews_from_users     40728 non-null  float64
 23  reviews_from_critics   40120 non-null  float64
 24  mean_vote              41896 non-null  float64
 25  total_votes            41896 non-null  int64
dtypes: float64(5), int64(5), object(16)
memory usage: 8.3+ MB

In [120]:
obj_Movies_metadata = Movies_metadata.select_dtypes(include=['object']).copy()
obj_Movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41896 entries, 0 to 41895
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   genres                 41896 non-null  object
 1   imdb_title_id          41896 non-null  object
 2   title                  41896 non-null  object
 3   original_title         41896 non-null  object
 4   date_published         41896 non-null  object
 5   genre                  41896 non-null  object
 6   country                41890 non-null  object
 7   language               41648 non-null  object
 8   director               41886 non-null  object
 9   writer                 41621 non-null  object
 10  production_company     40944 non-null  object
 11  actors                 41877 non-null  object
 12  description            41589 non-null  object
 13  budget                 15453 non-null  object
 14  usa_gross_income       13291 non-null  object
 15  worlwide_gross_income  19887 non-null  object
dtypes: object(16)
memory usage: 5.1+ MB

In [121]:
myobj = ['country','language','director','production_company']

for i in myobj:
    obj_Movies_metadata[i] = obj_Movies_metadata[i].astype('category')
    Movies_metadata[i] = obj_Movies_metadata[i].cat.codes

In [122]:
Movies_metadata = Movies_metadata.fillna(100000)
Movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41896 entries, 0 to 41895
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movieId                41896 non-null  int64
 1   genres                 41896 non-null  object
 2   imdb_title_id          41896 non-null  object
 3   title                  41896 non-null  object
 4   original_title         41896 non-null  object
 5   year                   41896 non-null  int64
 6   date_published         41896 non-null  object
 7   genre                  41896 non-null  object
 8   duration               41896 non-null  int64
 9   country                41896 non-null  int16
 10  language               41896 non-null  int16
 11  director               41896 non-null  int16
 12  writer                 41896 non-null  object
 13  production_company     41896 non-null  int16
 14  actors                 41896 non-null  object
 15  description            41896 non-null  object
 16  avg_vote               41896 non-null  float64
 17  votes                  41896 non-null  int64
 18  budget                 41896 non-null  object
 19  usa_gross_income       41896 non-null  object
 20  worlwide_gross_income  41896 non-null  object
 21  metascore              41896 non-null  float64
 22  reviews_from_users     41896 non-null  float64
 23  reviews_from_critics   41896 non-null  float64
 24  mean_vote              41896 non-null  float64
 25  total_votes            41896 non-null  int64
dtypes: float64(5), int16(4), int64(5), object(12)
memory usage: 7.4+ MB

In [146]:
data =  Movies_metadata[['year','duration','metascore','reviews_from_users','reviews_from_critics'
                              ,'country','language','director','production_company','mean_vote']]

In [147]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled = scaler.fit_transform(data.drop(['mean_vote'],axis=1))
data_norm = pd.DataFrame(scaled,columns=(data.drop(['mean_vote'],axis=1).columns))
data_norm= data_norm.join(data['mean_vote'])


from scipy import stats
z_scores = stats.zscore(data_norm.drop(['mean_vote'],axis=1))
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3).all(axis=1)
newdata = data_norm[filtered_entries]

newdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38725 entries, 0 to 41894
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  38725 non-null  float64
 1   duration              38725 non-null  float64
 2   metascore             38725 non-null  float64
 3   reviews_from_users    38725 non-null  float64
 4   reviews_from_critics  38725 non-null  float64
 5   country               38725 non-null  float64
 6   language              38725 non-null  float64
 7   director              38725 non-null  float64
 8   production_company    38725 non-null  float64
 9   mean_vote             38725 non-null  float64
dtypes: float64(10)
memory usage: 3.2 MB

In [148]:
#ratings = ratings[ratings['rating']>4]
target = newdata['mean_vote'] 
predictors = newdata.drop(['mean_vote'],axis=1)

In [149]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=40)

In [150]:
model = Sequential()
model.add(Dense(900, activation='relu', input_dim=9))
model.add(Dense(300, activation='relu'))
model.add(Dense(30, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])

In [153]:
model.fit(X_train, y_train, epochs=15, batch_size=10)

Epoch 1/15
2711/2711 [==============================] - 9s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 2/15
2711/2711 [==============================] - 9s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 3/15
2711/2711 [==============================] - 10s 4ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 4/15
2711/2711 [==============================] - 8s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 5/15
2711/2711 [==============================] - 9s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 6/15
2711/2711 [==============================] - 9s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 7/15
2711/2711 [==============================] - 9s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 8/15
2711/2711 [==============================] - 9s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 9/15
2711/2711 [==============================] - 9s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 10/15
2711/2711 [==============================] - 8s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 11/15
2711/2711 [==============================] - 9s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 12/15
2711/2711 [==============================] - 8s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 13/15
2711/2711 [==============================] - 9s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 14/15
2711/2711 [==============================] - 8s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00
Epoch 15/15
2711/2711 [==============================] - 9s 3ms/step - loss: 29.9162 - accuracy: 0.0000e+00

In [154]:
pred_train= model.predict(X_train)
scores1 = model.evaluate(X_train, y_train, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores1[1], 1 - scores1[1]))   
 
pred_test= model.predict(X_test)
scores2 = model.evaluate(X_test, y_test, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

Accuracy on training data: 0.0%
 Error on training data: 1.0
Accuracy on test data: 0.0%
 Error on test data: 1.0